$conf-cols:(
    count:0,
    responsive:true
);

$conf-grids:(
    count:14,
    responsive:true
);

$conf-gaps:(
    count:0,
    unit:rem,
    factor:0.5,
    responsive:true
);
$conf-paddings:(
    count:0,
    unit:rem,
    factor:0.5,
    responsive:true
);
$conf-margins:(
    count:40,
    unit:rem,
    factor:0.5,
    responsive:true
);

$conf-order:(
    count:12,
    responsive:true
);

$conf-grow:(
    count:5,
    responsive:true
);
