$conf-cols:(
    count:16
);

$conf-grids:(
    count:12,
    unit:px,
);

$conf-gaps:(
    count:30,
    unit:rem,
    factor:0.5
);
$conf-paddings:(
    count:20,
    unit:rem,
    factor:0.5
);
$conf-margins:(
    count:40,
    unit:rem,
    factor:0.5
)


