$cols:(
    count:12,
    factor:1,
);

$grids:(
    count:12,
    unit:px,
);

$gaps:(
    count:30,
    unit:rem,
    factor:0.5
);
$paddings:(
    count:20,
    unit:rem,
    factor:0.5
);
$margins:(
    count:40,
    unit:rem,
    factor:0.5
)


