body{
    background-color: var(--background-color);
    font-family:var(--font-family);
    direction: rtl;
}

*{
    cursor:context-menu;
    
}

input{
    margin-top: 0.5rem;
}

img{
    width: 100%;
}