/* spaces factors */
$xl-space-factor:1;
$lg-space-factor:.8;
$md-space-factor:.7;
$sm-space-factor:.6;


/* font factors */
$xl-font-factor:1;
$lg-font-factor:.8;
$md-font-factor:.7;
$sm-font-factor:.6;

$break-point-sm : 100px;