
// config

$break-points:(xxl:1920px , xl:1280px , lg:1024px , md:767px , sm:478px);

$prefix:gap;
// count:25,
// prefix:gap,
// factor:1,
// unit:px




@function generate-responsive-classes($prefix , $count){
    $list:();
    
@each $key , $value in $break-points{

        $base:unquote("." + $prefix + "-" + $key);
        
        @for $j from 1 through $count{
            $total:$base + "-" + $j;
            $list:append($list , $total , comma);
        }
    }
    @return $list;
}


@function list-generator($property , $count){

    $name-list:generate-responsive-classes("col",$count);
    $list:();
    
    @for $i from 1 through length($name-list){
    


    $map:(
        name: nth($name-list,$i),
        propertyKey:($property),
        propertyValue:unquote((100*$i)+"px")
    );
    $list:append($list ,$map);
                
            }

    @return $list;
    
}


