$break-points:(xxl:1920px , xl:1280px , lg:1024px , md:767px , sm:478px);

@function generate-responsive-classes($prefix , $count){
    $list:();
    @each $key , $value in $break-points{
        @for $i from 1 through $count{
            $base:unquote("." + $prefix + "-" + $key + "-" + $i);
            $list:append($list , $base , comma);
        }
    }
    @return $list;
}

@function generate-classes($prefix , $count){
    $list:();
    @for $i from 1 through $count{
        $base:unquote("." + $prefix + "-" + $i);
        $list:append($list , $base , comma);
    }
    @return $list;
}