@import "../functions/responsive";
@import "../../../config";
$w-list:w;
$h-list:h;
$width-list : generate-classes-items($w-list ,width, $conf-width) ;
// $high-list : generate-classes-items($h-list ,high, $conf-high) ;