$grid-list : g;
@function generate-grid($perfix,$property,$map){

    $name-list : ();
    $count : map.get($map,'count');
    $list : ();
    $k:1;
    @if $count == 0{
        @return ();
    }
    @for $i from 1 through length($grid-list){

        $name-list:generate-responsive-classes(nth($grid-list, $i),$count);

        @for $j from 1 through length($name-list){
            @if $k==$count+1{
                $k:1;
            } 
            $map:(
                name: nth($name-list,$j),
                propertyKey:($property),
                propertyValue:(repeat($k, 1fr))
            );
            $list:append($list ,$map,comma);
            $k:$k+1;
        } 
    }
    @return $list;
}   
$g : generate-grid($grid-list ,grid-template-columns, $conf-grids) ;
