$break-point-xxl:1920px; // desktop
$break-point-xl:1280px; // laptop
$break-point-lg:1024px; // landscape-tablet
$break-point-md:767px; // landscape-mobile , portrait tablet
$break-point-sm:478px; // portrait mobile

$break-points:("xxl","xl","lg","md","sm");