


$display-value-list:(block,none,flex,grid);
$display-list:();

@function generate-responsive-display-classes($prefix){
    $list:();
    
    @each $key , $value in $break-points{

        $base:unquote(".d" + "-" + $key + "-" + $prefix );

        $map:(
            name: $base,
            propertyKey:display,
            propertyValue:$prefix
        );
        
        $list:append($list , $map);
    }
   
    @return $list;
}


@for $i from 1 through length($display-value-list){

    $display-list:generate-responsive-display-classes(nth($display-value-list , $i));

}

// @debug $display-list;



.d-block{

    display: block;
}

.d-flex{

    display: flex;
}

.d-grid{

    display: grid;
}

.d-none{

    display: none;
}

.d-inline-block{

    display: inline-block;
}

.d-inline{
    display: inline;
}
