.section {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  box-sizing: border-box;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  box-sizing: border-box;
}

.div {
  display: flex;
  box-sizing: border-box;
}

.all-border-extra-small {
  border-radius: 2px;
}

.all-border-small {
  border-radius: 5px;
}

.all-border-normal {
  border-radius: 10px;
}

.all-border-medium {
  border-radius: 16px;
}

.all-border-large {
  border-radius: 25px;
}

.all-border-extra-large {
  border-radius: 50px;
}

.all-border-tr {
  border-top-right-radius: 0px;
}

.all-border-tl {
  border-top-left-radius: 0px;
}

.all-border-br {
  border-bottom-right-radius: 0px;
}

.all-border-bl {
  border-bottom-left-radius: 0px;
}

.all-border-full {
  border-radius: 100000px;
}

.italic {
  font-style: italic;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-start {
  text-align: start;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.italic {
  font-style: italic;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-start {
  text-align: start;
}

@font-face {
  font-family: "Vazir";
  font-weight: 800;
  src: url("../fonts/vazir/Vazir-Black-FD.woff2") format("woff2"), url("../fonts/vazir/Vazir-Black-FD.woff") format("woff"), url("../fonts/vazir/Vazir-Black-FD.ttf") format("ttf"), url("../fonts/vazir/Vazir-Black-FD.eot") format("eot"), ;
}
@font-face {
  font-family: "Vazir";
  font-weight: 700;
  src: url("../fonts/vazir/Vazir-Bold-FD.woff2") format("woff2"), url("../fonts/vazir/Vazir-Bold-FD.woff") format("woff"), url("../fonts/vazir/Vazir-Bold-FD.ttf") format("ttf"), url("../fonts/vazir/Vazir-Bold-FD.eot") format("eot"), ;
}
@font-face {
  font-family: "Vazir";
  font-weight: 300;
  src: url("../fonts/vazir/Vazir-Light-FD.woff2") format("woff2"), url("../fonts/vazir/Vazir-Light-FD.woff") format("woff"), url("../fonts/vazir/Vazir-Light-FD.ttf") format("ttf"), url("../fonts/vazir/Vazir-Light-FD.eot") format("eot"), ;
}
@font-face {
  font-family: "Vazir";
  font-weight: 500;
  src: url("../fonts/vazir/Vazir-Medium-FD.woff2") format("woff2"), url("../fonts/vazir/Vazir-Medium-FD.woff") format("woff"), url("../fonts/vazir/Vazir-Medium-FD.ttf") format("ttf"), url("../fonts/vazir/Vazir-Medium-FD.eot") format("eot"), ;
}
@font-face {
  font-family: "Vazir";
  font-weight: 400;
  src: url("../fonts/vazir/Vazir-Regular-FD.woff2") format("woff2"), url("../fonts/vazir/Vazir-Regular-FD.woff") format("woff"), url("../fonts/vazir/Vazir-Regular-FD.ttf") format("ttf"), url("../fonts/vazir/Vazir-Regular-FD.eot") format("eot"), ;
}
@font-face {
  font-family: "Vazir";
  font-weight: 100;
  src: url("../fonts/vazir/Vazir-Thin-FD.woff2") format("woff2"), url("../fonts/vazir/Vazir-Thin-FD.woff") format("woff"), url("../fonts/vazir/Vazir-Bold-FD.ttf") format("ttf"), url("../fonts/vazir/Vazir-Thin-FD.eot") format("eot"), ;
}
.Vazir {
  font-family: "Vazir";
}

.txt-black {
  font-weight: 800;
}

.txt-bold {
  font-weight: 700;
}

.txt-light {
  font-weight: 300;
}

.txt-medium {
  font-weight: 500;
}

.txt-regular {
  font-weight: 400;
}

.txt-thin {
  font-weight: 100;
}

.section {
  padding-left: 81px;
  padding-right: 81px;
}

@media screen and (max-width: 1280px) {
  .section {
    padding-left: 70px;
    padding-right: 70px;
  }
}
@media screen and (max-width: 1024px) {
  .section {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 767px) {
  .section {
    padding-left: 17px;
    padding-right: 17px;
  }
}
@media screen and (max-width: 478px) {
  .section {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 1280px) {
  .section {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .section {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .section {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media screen and (max-width: 478px) {
  .section {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.section.wide {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.italic {
  font-style: italic;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-start {
  text-align: start;
}

@font-face {
  font-family: "Vazir";
  font-weight: 800;
  src: url("../fonts/vazir/Vazir-Black-FD.woff2") format("woff2"), url("../fonts/vazir/Vazir-Black-FD.woff") format("woff"), url("../fonts/vazir/Vazir-Black-FD.ttf") format("ttf"), url("../fonts/vazir/Vazir-Black-FD.eot") format("eot"), ;
}
@font-face {
  font-family: "Vazir";
  font-weight: 700;
  src: url("../fonts/vazir/Vazir-Bold-FD.woff2") format("woff2"), url("../fonts/vazir/Vazir-Bold-FD.woff") format("woff"), url("../fonts/vazir/Vazir-Bold-FD.ttf") format("ttf"), url("../fonts/vazir/Vazir-Bold-FD.eot") format("eot"), ;
}
@font-face {
  font-family: "Vazir";
  font-weight: 300;
  src: url("../fonts/vazir/Vazir-Light-FD.woff2") format("woff2"), url("../fonts/vazir/Vazir-Light-FD.woff") format("woff"), url("../fonts/vazir/Vazir-Light-FD.ttf") format("ttf"), url("../fonts/vazir/Vazir-Light-FD.eot") format("eot"), ;
}
@font-face {
  font-family: "Vazir";
  font-weight: 500;
  src: url("../fonts/vazir/Vazir-Medium-FD.woff2") format("woff2"), url("../fonts/vazir/Vazir-Medium-FD.woff") format("woff"), url("../fonts/vazir/Vazir-Medium-FD.ttf") format("ttf"), url("../fonts/vazir/Vazir-Medium-FD.eot") format("eot"), ;
}
@font-face {
  font-family: "Vazir";
  font-weight: 400;
  src: url("../fonts/vazir/Vazir-Regular-FD.woff2") format("woff2"), url("../fonts/vazir/Vazir-Regular-FD.woff") format("woff"), url("../fonts/vazir/Vazir-Regular-FD.ttf") format("ttf"), url("../fonts/vazir/Vazir-Regular-FD.eot") format("eot"), ;
}
@font-face {
  font-family: "Vazir";
  font-weight: 100;
  src: url("../fonts/vazir/Vazir-Thin-FD.woff2") format("woff2"), url("../fonts/vazir/Vazir-Thin-FD.woff") format("woff"), url("../fonts/vazir/Vazir-Bold-FD.ttf") format("ttf"), url("../fonts/vazir/Vazir-Thin-FD.eot") format("eot"), ;
}
.Vazir {
  font-family: "Vazir";
}

.txt-black {
  font-weight: 800;
}

.txt-bold {
  font-weight: 700;
}

.txt-light {
  font-weight: 300;
}

.txt-medium {
  font-weight: 500;
}

.txt-regular {
  font-weight: 400;
}

.txt-thin {
  font-weight: 100;
}

body, p, h1, h2, h3, h4, h5, h6, hr {
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

li {
  list-style: none;
}

button {
  border: none;
}

ul, li {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.border-primary-color {
  border-color: #C7A151;
}

.primary-color {
  color: #C7A151;
}

.bg-primary {
  background-color: #C7A151;
}

.border-on-primary-color {
  border-color: #FFFFFF;
}

.on-primary-color {
  color: #FFFFFF;
}

.bg-on-primary {
  background-color: #FFFFFF;
}

.border-primary-light-color {
  border-color: #F8F8FF;
}

.primary-light-color {
  color: #F8F8FF;
}

.bg-primary-light {
  background-color: #F8F8FF;
}

.border-primary-dark-color {
  border-color: #FFFFFF;
}

.primary-dark-color {
  color: #FFFFFF;
}

.bg-primary-dark {
  background-color: #FFFFFF;
}

.bg-secondary {
  background-color: #262626;
}

.bg-on-secondary {
  background-color: #BBBBBB;
}

.bg-secondary-light {
  background-color: #FFFFFF;
}

.bg-secondary-dark {
  background-color: #FFFFFF;
}

.specific-color {
  color: #FFFFFF;
}

.bg-specific {
  background-color: #FFFFFF;
}

.button-text-color {
  color: #C7A151;
}

.bg-button-text {
  background-color: #C7A151;
}

.bg-button {
  background-color: rgba(0, 0, 0, 0);
}

.text-color {
  color: #BBBBBB;
}

.title-text-color {
  color: #C7A151;
}

.secondary-text-color {
  color: #FFFFFF;
}

.bg-secondary-text {
  background-color: #FFFFFF;
}

.section-title-text-color {
  color: #CECECE;
}

.bg-section-title-text {
  background-color: #CECECE;
}

.border-border-color {
  border-color: #C7A151;
}

.icon-color {
  color: #C7A151;
}

.icon-hover-color {
  color: #C7A151;
}

.bg-menu {
  background-color: #1F1D1D;
}

.bg-card {
  background-color: #120F10;
}

.bg-section {
  background-color: #262626;
}

.bg-button-hover {
  background-color: #C7A453;
}

.text-hover-color {
  color: #C7A453;
}

.button-text-hover-color {
  color: #C5B395;
}

.bg-button-text-hover {
  background-color: #C5B395;
}

.bg-fields {
  background-color: #FFFFFF;
}

.border-border-fields-color {
  border-color: #FFFFFF;
}

.bg-border-fields {
  background-color: #FFFFFF;
}

.title-text-fields-color {
  color: #FFFFFF;
}

.bg-title-text-fields {
  background-color: #FFFFFF;
}

.text-fields-color {
  color: #FFFFFF;
}

.bg-text-fields {
  background-color: #FFFFFF;
}

.bg-danger-regular {
  background-color: #D70D0D;
}

.bg-disabled-regular {
  background-color: #3761EB;
}

.bg-warning-regular {
  background-color: #FFB800;
}

.bg-warning-light {
  background-color: #FDD368;
}

.bg-warning-dark {
  background-color: #E4A400;
}

.bg-success-regular {
  background-color: #02B74A;
}

.bg-success-light {
  background-color: #C0FCD8;
}

.bg-success-dark {
  background-color: #009C3F;
}

.bg-danger-dark {
  background-color: #D70D0D;
}

.bg-danger-light {
  background-color: #F8D0D0;
}

.bg-disabled-light {
  background-color: #B1B1B1;
}

.bg-disabled-dark {
  background-color: #B1B1B1;
}

.bg-information-regular {
  background-color: #3761EB;
}

.bg-information-light {
  background-color: #7393FF;
}

.bg-information-dark {
  background-color: #2145BC;
}

.border-color-border-secondary-color {
  border-color: #B1B1B1;
}

.bg-color-border-secondary {
  background-color: #B1B1B1;
}

.bg-unCommon {
  background-color: #FFFFFF;
}

.border-width-0 {
  border-width: 0px;
}

.border-width-1 {
  border-width: 1px;
}

.border-width-2 {
  border-width: 2px;
}

.border-width-3 {
  border-width: 3px;
}

.border-width-4 {
  border-width: 4px;
}

.border-width-5 {
  border-width: 5px;
}

.border-width-6 {
  border-width: 6px;
}

.border-width-7 {
  border-width: 7px;
}

.border-width-8 {
  border-width: 8px;
}

.border-width-9 {
  border-width: 9px;
}

.border-width-10 {
  border-width: 10px;
}

.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}

.border-dotted {
  border-style: dotted;
}

.aspect-ratio-1x1 {
  aspect-ratio: 1/1;
}

.aspect-ratio-1x2 {
  aspect-ratio: 1/2;
}

.aspect-ratio-1x3 {
  aspect-ratio: 1/3;
}

.aspect-ratio-1x4 {
  aspect-ratio: 1/4;
}

.aspect-ratio-1x5 {
  aspect-ratio: 1/5;
}

.aspect-ratio-1x6 {
  aspect-ratio: 1/6;
}

.aspect-ratio-1x7 {
  aspect-ratio: 1/7;
}

.aspect-ratio-1x8 {
  aspect-ratio: 1/8;
}

.aspect-ratio-1x9 {
  aspect-ratio: 1/9;
}

.aspect-ratio-1x10 {
  aspect-ratio: 1/10;
}

.aspect-ratio-1x11 {
  aspect-ratio: 1/11;
}

.aspect-ratio-1x12 {
  aspect-ratio: 1/12;
}

.aspect-ratio-1x13 {
  aspect-ratio: 1/13;
}

.aspect-ratio-1x14 {
  aspect-ratio: 1/14;
}

.aspect-ratio-1x15 {
  aspect-ratio: 1/15;
}

.aspect-ratio-1x16 {
  aspect-ratio: 1/16;
}

.aspect-ratio-2x1 {
  aspect-ratio: 2/1;
}

.aspect-ratio-2x2 {
  aspect-ratio: 2/2;
}

.aspect-ratio-2x3 {
  aspect-ratio: 2/3;
}

.aspect-ratio-2x4 {
  aspect-ratio: 2/4;
}

.aspect-ratio-2x5 {
  aspect-ratio: 2/5;
}

.aspect-ratio-2x6 {
  aspect-ratio: 2/6;
}

.aspect-ratio-2x7 {
  aspect-ratio: 2/7;
}

.aspect-ratio-2x8 {
  aspect-ratio: 2/8;
}

.aspect-ratio-2x9 {
  aspect-ratio: 2/9;
}

.aspect-ratio-2x10 {
  aspect-ratio: 2/10;
}

.aspect-ratio-2x11 {
  aspect-ratio: 2/11;
}

.aspect-ratio-2x12 {
  aspect-ratio: 2/12;
}

.aspect-ratio-2x13 {
  aspect-ratio: 2/13;
}

.aspect-ratio-2x14 {
  aspect-ratio: 2/14;
}

.aspect-ratio-2x15 {
  aspect-ratio: 2/15;
}

.aspect-ratio-2x16 {
  aspect-ratio: 2/16;
}

.aspect-ratio-3x1 {
  aspect-ratio: 3/1;
}

.aspect-ratio-3x2 {
  aspect-ratio: 3/2;
}

.aspect-ratio-3x3 {
  aspect-ratio: 3/3;
}

.aspect-ratio-3x4 {
  aspect-ratio: 3/4;
}

.aspect-ratio-3x5 {
  aspect-ratio: 3/5;
}

.aspect-ratio-3x6 {
  aspect-ratio: 3/6;
}

.aspect-ratio-3x7 {
  aspect-ratio: 3/7;
}

.aspect-ratio-3x8 {
  aspect-ratio: 3/8;
}

.aspect-ratio-3x9 {
  aspect-ratio: 3/9;
}

.aspect-ratio-3x10 {
  aspect-ratio: 3/10;
}

.aspect-ratio-3x11 {
  aspect-ratio: 3/11;
}

.aspect-ratio-3x12 {
  aspect-ratio: 3/12;
}

.aspect-ratio-3x13 {
  aspect-ratio: 3/13;
}

.aspect-ratio-3x14 {
  aspect-ratio: 3/14;
}

.aspect-ratio-3x15 {
  aspect-ratio: 3/15;
}

.aspect-ratio-3x16 {
  aspect-ratio: 3/16;
}

.aspect-ratio-4x1 {
  aspect-ratio: 4/1;
}

.aspect-ratio-4x2 {
  aspect-ratio: 4/2;
}

.aspect-ratio-4x3 {
  aspect-ratio: 4/3;
}

.aspect-ratio-4x4 {
  aspect-ratio: 4/4;
}

.aspect-ratio-4x5 {
  aspect-ratio: 4/5;
}

.aspect-ratio-4x6 {
  aspect-ratio: 4/6;
}

.aspect-ratio-4x7 {
  aspect-ratio: 4/7;
}

.aspect-ratio-4x8 {
  aspect-ratio: 4/8;
}

.aspect-ratio-4x9 {
  aspect-ratio: 4/9;
}

.aspect-ratio-4x10 {
  aspect-ratio: 4/10;
}

.aspect-ratio-4x11 {
  aspect-ratio: 4/11;
}

.aspect-ratio-4x12 {
  aspect-ratio: 4/12;
}

.aspect-ratio-4x13 {
  aspect-ratio: 4/13;
}

.aspect-ratio-4x14 {
  aspect-ratio: 4/14;
}

.aspect-ratio-4x15 {
  aspect-ratio: 4/15;
}

.aspect-ratio-4x16 {
  aspect-ratio: 4/16;
}

.aspect-ratio-5x1 {
  aspect-ratio: 5/1;
}

.aspect-ratio-5x2 {
  aspect-ratio: 5/2;
}

.aspect-ratio-5x3 {
  aspect-ratio: 5/3;
}

.aspect-ratio-5x4 {
  aspect-ratio: 5/4;
}

.aspect-ratio-5x5 {
  aspect-ratio: 5/5;
}

.aspect-ratio-5x6 {
  aspect-ratio: 5/6;
}

.aspect-ratio-5x7 {
  aspect-ratio: 5/7;
}

.aspect-ratio-5x8 {
  aspect-ratio: 5/8;
}

.aspect-ratio-5x9 {
  aspect-ratio: 5/9;
}

.aspect-ratio-5x10 {
  aspect-ratio: 5/10;
}

.aspect-ratio-5x11 {
  aspect-ratio: 5/11;
}

.aspect-ratio-5x12 {
  aspect-ratio: 5/12;
}

.aspect-ratio-5x13 {
  aspect-ratio: 5/13;
}

.aspect-ratio-5x14 {
  aspect-ratio: 5/14;
}

.aspect-ratio-5x15 {
  aspect-ratio: 5/15;
}

.aspect-ratio-5x16 {
  aspect-ratio: 5/16;
}

.aspect-ratio-6x1 {
  aspect-ratio: 6/1;
}

.aspect-ratio-6x2 {
  aspect-ratio: 6/2;
}

.aspect-ratio-6x3 {
  aspect-ratio: 6/3;
}

.aspect-ratio-6x4 {
  aspect-ratio: 6/4;
}

.aspect-ratio-6x5 {
  aspect-ratio: 6/5;
}

.aspect-ratio-6x6 {
  aspect-ratio: 6/6;
}

.aspect-ratio-6x7 {
  aspect-ratio: 6/7;
}

.aspect-ratio-6x8 {
  aspect-ratio: 6/8;
}

.aspect-ratio-6x9 {
  aspect-ratio: 6/9;
}

.aspect-ratio-6x10 {
  aspect-ratio: 6/10;
}

.aspect-ratio-6x11 {
  aspect-ratio: 6/11;
}

.aspect-ratio-6x12 {
  aspect-ratio: 6/12;
}

.aspect-ratio-6x13 {
  aspect-ratio: 6/13;
}

.aspect-ratio-6x14 {
  aspect-ratio: 6/14;
}

.aspect-ratio-6x15 {
  aspect-ratio: 6/15;
}

.aspect-ratio-6x16 {
  aspect-ratio: 6/16;
}

.aspect-ratio-7x1 {
  aspect-ratio: 7/1;
}

.aspect-ratio-7x2 {
  aspect-ratio: 7/2;
}

.aspect-ratio-7x3 {
  aspect-ratio: 7/3;
}

.aspect-ratio-7x4 {
  aspect-ratio: 7/4;
}

.aspect-ratio-7x5 {
  aspect-ratio: 7/5;
}

.aspect-ratio-7x6 {
  aspect-ratio: 7/6;
}

.aspect-ratio-7x7 {
  aspect-ratio: 7/7;
}

.aspect-ratio-7x8 {
  aspect-ratio: 7/8;
}

.aspect-ratio-7x9 {
  aspect-ratio: 7/9;
}

.aspect-ratio-7x10 {
  aspect-ratio: 7/10;
}

.aspect-ratio-7x11 {
  aspect-ratio: 7/11;
}

.aspect-ratio-7x12 {
  aspect-ratio: 7/12;
}

.aspect-ratio-7x13 {
  aspect-ratio: 7/13;
}

.aspect-ratio-7x14 {
  aspect-ratio: 7/14;
}

.aspect-ratio-7x15 {
  aspect-ratio: 7/15;
}

.aspect-ratio-7x16 {
  aspect-ratio: 7/16;
}

.aspect-ratio-8x1 {
  aspect-ratio: 8/1;
}

.aspect-ratio-8x2 {
  aspect-ratio: 8/2;
}

.aspect-ratio-8x3 {
  aspect-ratio: 8/3;
}

.aspect-ratio-8x4 {
  aspect-ratio: 8/4;
}

.aspect-ratio-8x5 {
  aspect-ratio: 8/5;
}

.aspect-ratio-8x6 {
  aspect-ratio: 8/6;
}

.aspect-ratio-8x7 {
  aspect-ratio: 8/7;
}

.aspect-ratio-8x8 {
  aspect-ratio: 8/8;
}

.aspect-ratio-8x9 {
  aspect-ratio: 8/9;
}

.aspect-ratio-8x10 {
  aspect-ratio: 8/10;
}

.aspect-ratio-8x11 {
  aspect-ratio: 8/11;
}

.aspect-ratio-8x12 {
  aspect-ratio: 8/12;
}

.aspect-ratio-8x13 {
  aspect-ratio: 8/13;
}

.aspect-ratio-8x14 {
  aspect-ratio: 8/14;
}

.aspect-ratio-8x15 {
  aspect-ratio: 8/15;
}

.aspect-ratio-8x16 {
  aspect-ratio: 8/16;
}

.aspect-ratio-9x1 {
  aspect-ratio: 9/1;
}

.aspect-ratio-9x2 {
  aspect-ratio: 9/2;
}

.aspect-ratio-9x3 {
  aspect-ratio: 9/3;
}

.aspect-ratio-9x4 {
  aspect-ratio: 9/4;
}

.aspect-ratio-9x5 {
  aspect-ratio: 9/5;
}

.aspect-ratio-9x6 {
  aspect-ratio: 9/6;
}

.aspect-ratio-9x7 {
  aspect-ratio: 9/7;
}

.aspect-ratio-9x8 {
  aspect-ratio: 9/8;
}

.aspect-ratio-9x9 {
  aspect-ratio: 9/9;
}

.aspect-ratio-9x10 {
  aspect-ratio: 9/10;
}

.aspect-ratio-9x11 {
  aspect-ratio: 9/11;
}

.aspect-ratio-9x12 {
  aspect-ratio: 9/12;
}

.aspect-ratio-9x13 {
  aspect-ratio: 9/13;
}

.aspect-ratio-9x14 {
  aspect-ratio: 9/14;
}

.aspect-ratio-9x15 {
  aspect-ratio: 9/15;
}

.aspect-ratio-9x16 {
  aspect-ratio: 9/16;
}

.aspect-ratio-10x1 {
  aspect-ratio: 10/1;
}

.aspect-ratio-10x2 {
  aspect-ratio: 10/2;
}

.aspect-ratio-10x3 {
  aspect-ratio: 10/3;
}

.aspect-ratio-10x4 {
  aspect-ratio: 10/4;
}

.aspect-ratio-10x5 {
  aspect-ratio: 10/5;
}

.aspect-ratio-10x6 {
  aspect-ratio: 10/6;
}

.aspect-ratio-10x7 {
  aspect-ratio: 10/7;
}

.aspect-ratio-10x8 {
  aspect-ratio: 10/8;
}

.aspect-ratio-10x9 {
  aspect-ratio: 10/9;
}

.aspect-ratio-10x10 {
  aspect-ratio: 10/10;
}

.aspect-ratio-10x11 {
  aspect-ratio: 10/11;
}

.aspect-ratio-10x12 {
  aspect-ratio: 10/12;
}

.aspect-ratio-10x13 {
  aspect-ratio: 10/13;
}

.aspect-ratio-10x14 {
  aspect-ratio: 10/14;
}

.aspect-ratio-10x15 {
  aspect-ratio: 10/15;
}

.aspect-ratio-10x16 {
  aspect-ratio: 10/16;
}

.aspect-ratio-11x1 {
  aspect-ratio: 11/1;
}

.aspect-ratio-11x2 {
  aspect-ratio: 11/2;
}

.aspect-ratio-11x3 {
  aspect-ratio: 11/3;
}

.aspect-ratio-11x4 {
  aspect-ratio: 11/4;
}

.aspect-ratio-11x5 {
  aspect-ratio: 11/5;
}

.aspect-ratio-11x6 {
  aspect-ratio: 11/6;
}

.aspect-ratio-11x7 {
  aspect-ratio: 11/7;
}

.aspect-ratio-11x8 {
  aspect-ratio: 11/8;
}

.aspect-ratio-11x9 {
  aspect-ratio: 11/9;
}

.aspect-ratio-11x10 {
  aspect-ratio: 11/10;
}

.aspect-ratio-11x11 {
  aspect-ratio: 11/11;
}

.aspect-ratio-11x12 {
  aspect-ratio: 11/12;
}

.aspect-ratio-11x13 {
  aspect-ratio: 11/13;
}

.aspect-ratio-11x14 {
  aspect-ratio: 11/14;
}

.aspect-ratio-11x15 {
  aspect-ratio: 11/15;
}

.aspect-ratio-11x16 {
  aspect-ratio: 11/16;
}

.aspect-ratio-12x1 {
  aspect-ratio: 12/1;
}

.aspect-ratio-12x2 {
  aspect-ratio: 12/2;
}

.aspect-ratio-12x3 {
  aspect-ratio: 12/3;
}

.aspect-ratio-12x4 {
  aspect-ratio: 12/4;
}

.aspect-ratio-12x5 {
  aspect-ratio: 12/5;
}

.aspect-ratio-12x6 {
  aspect-ratio: 12/6;
}

.aspect-ratio-12x7 {
  aspect-ratio: 12/7;
}

.aspect-ratio-12x8 {
  aspect-ratio: 12/8;
}

.aspect-ratio-12x9 {
  aspect-ratio: 12/9;
}

.aspect-ratio-12x10 {
  aspect-ratio: 12/10;
}

.aspect-ratio-12x11 {
  aspect-ratio: 12/11;
}

.aspect-ratio-12x12 {
  aspect-ratio: 12/12;
}

.aspect-ratio-12x13 {
  aspect-ratio: 12/13;
}

.aspect-ratio-12x14 {
  aspect-ratio: 12/14;
}

.aspect-ratio-12x15 {
  aspect-ratio: 12/15;
}

.aspect-ratio-12x16 {
  aspect-ratio: 12/16;
}

.aspect-ratio-13x1 {
  aspect-ratio: 13/1;
}

.aspect-ratio-13x2 {
  aspect-ratio: 13/2;
}

.aspect-ratio-13x3 {
  aspect-ratio: 13/3;
}

.aspect-ratio-13x4 {
  aspect-ratio: 13/4;
}

.aspect-ratio-13x5 {
  aspect-ratio: 13/5;
}

.aspect-ratio-13x6 {
  aspect-ratio: 13/6;
}

.aspect-ratio-13x7 {
  aspect-ratio: 13/7;
}

.aspect-ratio-13x8 {
  aspect-ratio: 13/8;
}

.aspect-ratio-13x9 {
  aspect-ratio: 13/9;
}

.aspect-ratio-13x10 {
  aspect-ratio: 13/10;
}

.aspect-ratio-13x11 {
  aspect-ratio: 13/11;
}

.aspect-ratio-13x12 {
  aspect-ratio: 13/12;
}

.aspect-ratio-13x13 {
  aspect-ratio: 13/13;
}

.aspect-ratio-13x14 {
  aspect-ratio: 13/14;
}

.aspect-ratio-13x15 {
  aspect-ratio: 13/15;
}

.aspect-ratio-13x16 {
  aspect-ratio: 13/16;
}

.aspect-ratio-14x1 {
  aspect-ratio: 14/1;
}

.aspect-ratio-14x2 {
  aspect-ratio: 14/2;
}

.aspect-ratio-14x3 {
  aspect-ratio: 14/3;
}

.aspect-ratio-14x4 {
  aspect-ratio: 14/4;
}

.aspect-ratio-14x5 {
  aspect-ratio: 14/5;
}

.aspect-ratio-14x6 {
  aspect-ratio: 14/6;
}

.aspect-ratio-14x7 {
  aspect-ratio: 14/7;
}

.aspect-ratio-14x8 {
  aspect-ratio: 14/8;
}

.aspect-ratio-14x9 {
  aspect-ratio: 14/9;
}

.aspect-ratio-14x10 {
  aspect-ratio: 14/10;
}

.aspect-ratio-14x11 {
  aspect-ratio: 14/11;
}

.aspect-ratio-14x12 {
  aspect-ratio: 14/12;
}

.aspect-ratio-14x13 {
  aspect-ratio: 14/13;
}

.aspect-ratio-14x14 {
  aspect-ratio: 14/14;
}

.aspect-ratio-14x15 {
  aspect-ratio: 14/15;
}

.aspect-ratio-14x16 {
  aspect-ratio: 14/16;
}

.aspect-ratio-15x1 {
  aspect-ratio: 15/1;
}

.aspect-ratio-15x2 {
  aspect-ratio: 15/2;
}

.aspect-ratio-15x3 {
  aspect-ratio: 15/3;
}

.aspect-ratio-15x4 {
  aspect-ratio: 15/4;
}

.aspect-ratio-15x5 {
  aspect-ratio: 15/5;
}

.aspect-ratio-15x6 {
  aspect-ratio: 15/6;
}

.aspect-ratio-15x7 {
  aspect-ratio: 15/7;
}

.aspect-ratio-15x8 {
  aspect-ratio: 15/8;
}

.aspect-ratio-15x9 {
  aspect-ratio: 15/9;
}

.aspect-ratio-15x10 {
  aspect-ratio: 15/10;
}

.aspect-ratio-15x11 {
  aspect-ratio: 15/11;
}

.aspect-ratio-15x12 {
  aspect-ratio: 15/12;
}

.aspect-ratio-15x13 {
  aspect-ratio: 15/13;
}

.aspect-ratio-15x14 {
  aspect-ratio: 15/14;
}

.aspect-ratio-15x15 {
  aspect-ratio: 15/15;
}

.aspect-ratio-15x16 {
  aspect-ratio: 15/16;
}

.aspect-ratio-16x1 {
  aspect-ratio: 16/1;
}

.aspect-ratio-16x2 {
  aspect-ratio: 16/2;
}

.aspect-ratio-16x3 {
  aspect-ratio: 16/3;
}

.aspect-ratio-16x4 {
  aspect-ratio: 16/4;
}

.aspect-ratio-16x5 {
  aspect-ratio: 16/5;
}

.aspect-ratio-16x6 {
  aspect-ratio: 16/6;
}

.aspect-ratio-16x7 {
  aspect-ratio: 16/7;
}

.aspect-ratio-16x8 {
  aspect-ratio: 16/8;
}

.aspect-ratio-16x9 {
  aspect-ratio: 16/9;
}

.aspect-ratio-16x10 {
  aspect-ratio: 16/10;
}

.aspect-ratio-16x11 {
  aspect-ratio: 16/11;
}

.aspect-ratio-16x12 {
  aspect-ratio: 16/12;
}

.aspect-ratio-16x13 {
  aspect-ratio: 16/13;
}

.aspect-ratio-16x14 {
  aspect-ratio: 16/14;
}

.aspect-ratio-16x15 {
  aspect-ratio: 16/15;
}

.aspect-ratio-16x16 {
  aspect-ratio: 16/16;
}

.opacity-0 {
  opacity: 0;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-100 {
  opacity: 1;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: sticky;
}

.z-index-0 {
  z-index: 0;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.z-index-4 {
  z-index: 4;
}

.z-index-5 {
  z-index: 5;
}

.z-index-6 {
  z-index: 6;
}

.z-index-7 {
  z-index: 7;
}

.z-index-8 {
  z-index: 8;
}

.z-index-9 {
  z-index: 9;
}

.z-index-10 {
  z-index: 10;
}/*# sourceMappingURL=style.css.map */