<html>
    <head>
        <link rel="stylesheet" href="../../../assets/css/style.css">
        <link rel="stylesheet" href="../../../assets/icons/fontawesome/css/all.css">
    </head>
    <body class="font-primary d-flex flex-column h-100 w-100 justify-content-center align-items-center gap-4">
        <div class="d-grid g-4 gap-8">
            <!-- danger -->
            <div class="d-flex flex-column justify-content-center align-items-center gap-4">
                <button class="badge py-1 px-2 all-border-full pointer bg-primary-color on-primary-color">button
                    <span class="top-0 left-0 bg-danger-regular-color txt-normal all-border-full"></span>
                </button>
                <button class="badge py-1 px-2 all-border-full pointer bg-primary-color on-primary-color">button
                    <span class="top-0 left-0 bg-danger-regular-color txt-normal all-border-full">99+</span>
                </button>
                <button class="badge py-1 px-2 all-border-full pointer bg-primary-color on-primary-color">button
                    <span class="top-0 left-0 bg-danger-regular-color txt-normal all-border-full">error</span>
                </button>
                <button class="badge py-1 px-2 all-border-full pointer bg-primary-color on-primary-color">button
                    <span class="top-0 left-0 bg-danger-regular-color txt-normal all-border-full">
                        <i class="fa-solid fa-house icon-small"></i>
                    </span>
                </button>
            </div>
            <!-- warning -->
            <div class="d-flex flex-column justify-content-center align-items-center gap-4">
                <button class="badge py-1 px-2 all-border-full pointer bg-primary-color on-primary-color">button
                    <span class="top-0 left-0 bg-warning-regular-color txt-normal all-border-full"></span>
                </button>
                <button class="badge py-1 px-2 all-border-full pointer bg-primary-color on-primary-color">button
                    <span class="top-0 left-0 bg-warning-regular-color txt-normal all-border-full">99+</span>
                </button>
                <button class="badge py-1 px-2 all-border-full pointer bg-primary-color on-primary-color">button
                    <span class="top-0 left-0 bg-warning-regular-color txt-normal all-border-full">warning</span>
                </button>
                <button class="badge py-1 px-2 all-border-full pointer bg-primary-color on-primary-color">button
                    <span class="top-0 left-0 bg-warning-regular-color txt-normal all-border-full">
                        <i class="fa-solid fa-house icon-small"></i>
                    </span>
                </button>
            </div>
            <!-- information -->
            <div class="d-flex flex-column justify-content-center align-items-center gap-4">
                <button class="badge py-1 px-2 all-border-full pointer bg-primary-color on-primary-color">button
                    <span class="top-0 left-0 bg-information-regular-color txt-normal all-border-full"></span>
                </button>
                <button class="badge py-1 px-2 all-border-full pointer bg-primary-color on-primary-color">button
                    <span class="top-0 left-0 bg-information-regular-color txt-normal all-border-full">99+</span>
                </button>
                <button class="badge py-1 px-2 all-border-full pointer bg-primary-color on-primary-color">button
                    <span class="top-0 left-0 bg-information-regular-color txt-normal all-border-full">information</span>
                </button>
                <button class="badge py-1 px-2 all-border-full pointer bg-primary-color on-primary-color">button
                    <span class="top-0 left-0 bg-information-regular-color txt-normal all-border-full">
                        <i class="fa-solid fa-house icon-small"></i>
                    </span>
                </button>
            </div>
            <!-- success -->
            <div class="d-flex flex-column justify-content-center align-items-center gap-4">
                <button class="badge py-1 px-2 all-border-full pointer bg-primary-color on-primary-color">button
                    <span class="top-0 left-0 bg-success-regular-color txt-normal all-border-full"></span>
                </button>
                <button class="badge py-1 px-2 all-border-full pointer bg-primary-color on-primary-color">button
                    <span class="top-0 left-0 bg-success-regular-color txt-normal all-border-full">99+</span>
                </button>
                <button class="badge py-1 px-2 all-border-full pointer bg-primary-color on-primary-color">button
                    <span class="top-0 left-0 bg-success-regular-color txt-normal all-border-full">success</span>
                </button>
                <button class="badge py-1 px-2 all-border-full pointer bg-primary-color on-primary-color">button
                    <span class="top-0 left-0 bg-success-regular-color txt-normal all-border-full">
                        <i class="fa-solid fa-house icon-small"></i>
                    </span>
                </button>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center gap-8">
            <!-- border -->
            <button class="badge py-1 px-2 all-border-full pointer bg-primary-color on-primary-color">button
                <span class="top-0 left-0 bg-danger-regular-color txt-normal all-border-full border-width-2 border-on-primary-color border-solid"></span>
            </button>
            <button class="badge py-1 px-2 all-border-full pointer bg-primary-color on-primary-color">button
                <span class="top-0 left-0 bg-warning-regular-color txt-normal all-border-full border-width-2 border-on-primary-color border-solid">99+</span>
            </button>
            <button class="badge py-1 px-2 all-border-full pointer bg-primary-color on-primary-color">button
                <span class="top-0 left-0 bg-information-regular-color txt-normal all-border-full border-width-2 border-on-primary-color border-solid">success</span>
            </button>
            <button class="badge py-1 px-2 all-border-full pointer bg-primary-color on-primary-color">button
                <span class="top-0 left-0 bg-success-regular-color txt-normal all-border-full border-width-2 border-on-primary-color border-solid">
                    <i class="fa-solid fa-house icon-small"></i>
                </span>
            </button>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center gap-8">
            <!-- custom -->
            <button class="badge py-1 px-2 all-border-full pointer bg-primary-color on-primary-color">button
                <span class="top-0 left-0 bg-danger-regular-color txt-normal">
                    <i class="fa-solid fa-house icon-small"></i>
                </span>
            </button>
            <button class="badge py-1 px-2 all-border-full pointer bg-primary-color on-primary-color">button
                <span class="bottom-0 left-0 bg-warning-regular-color txt-normal all-border-small border-width-1 border-on-primary-color border-solid">
                    <i class="fa-solid fa-house icon-small"></i>
                </span>
            </button>
            <button class="badge py-1 px-2 all-border-full pointer bg-primary-color on-primary-color">button
                <span class="bottom-0 right-0 bg-information-regular-color txt-normal all-border-small border-width-1 border-on-primary-color border-solid">
                    <i class="fa-solid fa-house icon-small"></i>
                </span>
            </button>
            <button class="badge py-1 px-2 all-border-full bg-primary-color on-primary-color">button
                <span class="top-0 right-0 bg-success-regular-color txt-normal all-border-full border-width-3 border-on-primary-color border-solid">
                    <i class="fa-solid fa-house icon-small"></i>
                </span>
            </button>
        </div>
    </body>
</html>