<html>
    <head>
        <link rel="stylesheet" href="../../../assets/css/style.css">
    </head>
    <body class="font-primary d-flex flex-column justify-content-center align-items-center gap-2 w-100 h-100">
        <ul class="page-indicator d-flex flex-row justify-content-start align-items-center gap-1" style="--size:7px">
            <li></li>
            <li></li>
            <li class="active"></li>
            <li></li>
            <li></li>
        </ul>
        <ul class="page-indicator gap-1" style="--size:15">
            <li></li>
            <li></li>
            <li class="active"></li>
            <li></li>
            <li></li>
        </ul>
        <ul class="page-indicator gap-1" style="--size:15">
            <li>1</li>
            <li>2</li>
            <li class="active">3</li>
            <li>4</li>
            <li>5</li>
        </ul>
    </body>
</html>