<html>
    <head>
        <link rel="stylesheet" href="../../../assets/css/style.css">
    </head>
    <body class="font-primary d-flex flex-column justify-content-start align-items-center gap-2 w-100 h-100">
        <div class="progress" style="--percentage:25 ; --content-place:start" data-content="25%"></div>
        <div class="progress" style="--percentage:50 ; --content-place:center" data-content="50%"></div>
        <div class="progress" style="--percentage:75 ; --content-place:end" data-content="75%"></div>
        <div class="progress" style="--percentage:0 ;"></div>
        <div class="progress" style="--percentage:100 ;">
            <p>hossein1</p>
        </div>
        <div class="progress justify-content-start py-1" style="--percentage:75 ;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="progress justify-content-center py-1" style="--percentage:50 ;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="progress justify-content-end py-1" style="--percentage:25 ;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </body>
</html>