@function generate-responsive-classes($prefix , $count){
    $list:();
    @each $key , $value in $break-points{
        @for $i from 1 through $count{
            $base:unquote("." + $prefix + "-" + $key + "-" + $i);
            $list:append($list , $base , comma);
        }
    }
    @return $list;
}

@function generate-classes($prefix , $count){
    $list:();
    @for $i from 1 through $count{
        $base:unquote("." + $prefix + "-" + $i);
        $list:append($list , $base , comma);
    }
    @return $list;
}

@function generate-classes-responsive-on-value($prefix , $break-point , $value){
    $base:unquote("." + $prefix + "-"+ $break-point + "-" + $value);
    @return $base;
}

@function generate-classes-on-value($prefix , $value){
    $base:unquote("." + $prefix + "-" + $value);
    @return $base;
}

@function reset-count($k , $count){
    @if $k==$count+1{
        $k:1;
    }
    @return $k;
}

@function check-responsive-status($map-config,$status-responsive){
    $status:map.get($map-config , $status-responsive);
    @return $status;
}

@function set-property-values($counter-reset,$type){

    @if $type==col{
        @return calc(100%/$counter-reset);
    }
    @else if $type==g{
        @return repeat($counter-reset, 1fr);
    }
    @else{
        @return $counter-reset;
    }
}

@function generate-properties($map-list,$conf-map,$property,$type){
    $count : map.get($conf-map,'count');
    $counter-reset:1;
    $list : ();
    @for $j from 1 through length($map-list){
        $counter-reset:reset-count($counter-reset,$count);
        $conf-map:(
            className: nth($map-list,$j),
            propertyKeys:($property),
            propertyValues:set-property-values($counter-reset,$type)
        );
        $list:append($list ,$conf-map,comma);   
        $counter-reset:$counter-reset+1;
    }
    @return $list;
}

@function generate-classes-items($prefix,$property,$conf-map){
    $name-list : ();
    $count : map.get($conf-map,'count');
    $unit : map.get($conf-map,'unit');
    $list : ();
    @if $count == 0 {
        @return ();
    }
    @if check-responsive-status($conf-map,responsive){
        @for $i from 1 through length($prefix){
            $name-list:generate-responsive-classes(nth($prefix,$i),$count);
            $list:generate-properties($name-list,$conf-map,$property,nth($prefix,$i));
        }
    }
    @else{
        @for $i from 1 through length($prefix){
            $name-list:generate-classes(nth($prefix,$i),$count);
            $list:generate-properties($name-list,$conf-map,$property,nth($prefix,$i));
        }
    }
    @return $list;
}