// @function generate-responsive-classes($prefix , $count){
//     $list:();
//     @for $i from 1 through length($break-points){
//         $base:unquote("." + $prefix + "-" + nth($break-points , $i));
        
//         @for $j from 1 through $count{
//             $total:$base + "-" + $j;
//             $list:append($list , $total , comma);
//         }
//     }
//     @return $list;
// }


@use 'sass:map';




// $map:('sm' : 100, 'lg' : 200);

// $list:('.col-sm-1','.col-sm-2','.col-lg-1','.col-lg-2');


// $data1:(
// name:(col-sm-12),
// propertyKey:(width),
// propertyValue:(100px)
// );

// $data2:(
// name:(col-lg-12),
// propertyKey:(width),
// propertyValue:(200px)
// );

// $data3:(
// name:(col-lg-12),
// propertyKey:(width),
// propertyValue:(300px)
// );

// $data4:(
// name:(col-sm-12),
// propertyKey:(width),
// propertyValue:(100px)
// );

// $data5:(
// name:(col-xl-12),
// propertyKey:(width),
// propertyValue:(100px)
// );



// $breaks:(sm : 100, lg: 200,xl:300);

// $list:($data1,$data2,$data3,$data4,$data5);


// @each $key , $value in $breaks{
//     @media screen and (max-width : $value) {
//         @for $i from 1 through length($list){
//             #{"." + map.get(nth($list, $i) , name)}{
//                 #{map.get(nth($list, $i) , propertyKey)} : map.get(nth($list, $i) , propertyValue);
//             }
//         }
//     }
// }




@use "sass:string";

// $str : "a@aa,ab,b@ba,c@ca,cb,cc";

// $split: string.split($str, "@");
// $output :"";


// @for $i from 1 through length($split){
//     $item : nth($split, $i);
//     $split2:string.split($item, ",");
//     @for $j from 1 through length($split2){
//         $item2:nth($split2,$j);

//         @if(length($split2)==$j){
//             @if length($split) == $i{
//                 $output:$output+"\a"+"-"+$item2;
//             }@else{
//                 $output:$output+"\a"+$item2;
//             }
//         }
//         @else{
//             $output:$output+"\a"+"-"+$item2;
//         }
//     }
// }

// @debug $output;






$str: 'sallam donya <imgsrc="a.png"/> chetorid <p>khobid</p> sallamatid <span>khodahafez</span>';


$split: string.split($str, " ");
$output :"";


@for $i from 1 through length($split){
    $item : nth($split, $i);
    $output:$output+"\a"+$item;
}

@debug $output; 