

body:has(.offcanvas-static.offcanvas-scroll input[id*="offcanvasCheck"]:checked){
    overflow: unset;
}

body:has(.offcanvas-static.offcanvas-no-scroll input[id*="offcanvasCheck"]:checked){
    overflow: hidden;
}

.offcanvas-static{
    &.offcanvas-backdrop input[id*="offcanvasCheck"] + label + label{
        background-color: get-color(secondary);
        visibility:hidden;
        transition: 250ms linear;
        @extend .w-100, .h-100, .position-fixed, .top-0, .left-0, .opacity-0;
    }
    input[id*="offcanvasCheck"]{
        @extend .d-none;

        & + label{
            @extend .pointer;
            
        }
        & ~ .offcanvas-top{
            height: 25%;
            background-color: get-color(primary);
            color: get-color(on-primary);
            box-sizing:border-box;
            transform: translateY(-100%);
            transition: 250ms linear;
            @extend .w-100, .position-fixed, .left-0, .top-0, .p-1, .d-flex, .flex-column, .justify-content-start, .align-items-start;

            & label{
                @extend .w-100, .d-flex, .justify-content-end, .pointer, .mb-1;
            }
        }
        & ~ .offcanvas-bottom{
            height: 25%;
            background-color: get-color(primary);
            color: get-color(on-primary);
            box-sizing:border-box;
            transform: translateY(100%);
            transition: 250ms linear;
            @extend .w-100, .position-fixed, .left-0, .bottom-0, .p-1, .d-flex, .flex-column, .justify-content-start, .align-items-start;

            & label{
                @extend .w-100, .d-flex, .justify-content-end, .pointer, .mb-1;
            }
        }
        & ~ .offcanvas-left{
            width: 25%;
            background-color: get-color(primary);
            color: get-color(on-primary);
            box-sizing:border-box;
            transform: translateX(-100%);
            transition: 250ms linear;
            @extend .h-100, .position-fixed, .left-0, .top-0, .p-1, .d-flex, .flex-column, .justify-content-start, .align-items-start;

            & label{
                @extend .w-100, .d-flex, .justify-content-end, .pointer, .mb-1;
            }
        }
        & ~ .offcanvas-right{
            width: 25%;
            background-color: get-color(primary);
            color: get-color(on-primary);
            box-sizing:border-box;
            transform: translateX(100%);
            transition: 250ms linear;
            @extend .h-100, .position-fixed, .right-0, .top-0, .p-1, .d-flex, .flex-column, .justify-content-start, .align-items-start;

            & label{
                @extend .w-100, .d-flex, .justify-content-end, .pointer, .mb-1;
            }
        }
        &:checked{
            & ~ .offcanvas{
                transform:translateX(0%);
            }
            & ~ .offcanvas-top{
                transform:translateY(0%);
            }
            & ~ .offcanvas-bottom{
                transform:translateY(0%);
            }
            & ~ .offcanvas-left{
                transform:translateX(0%);
            }
            & ~ .offcanvas-right{
                transform:translateX(0%);
            }
            & + label + label{
                opacity: 0.7;
                visibility:visible;
            }
        }
    }
}