.page-indicator{
    width:fit-content;
    height:var(--size);
    @extend .d-flex, .flex-row, .justify-content-start, .align-items-center;

    & li{
        &:empty{
            background-color: get-color(primary);
            @extend .pointer, .h-100, .aspect-ratio-1x1, .all-border-full;
            
            &.active{            
                background-color: get-color(specific);
                aspect-ratio: 2/1;
            }
        }

        &:not(:empty){
            background-color: get-color(primary-dark);
            border-color: get-color(primary);
            width:fit-content;
            @extend .pointer, .h-100, .d-flex, .flex-row, .justify-content-center, .align-items-center, .p-1, .aspect-ratio-1x1, .border-width-1, .border-solid, .txt-center, .all-border-full;

            &.active{
                background-color: get-color(primary-dark);
                border-color: get-color(specific);
                width:fit-content;
                border-width: 2px;
                @extend .h-100, .d-flex, .flex-row, .justify-content-center, .align-items-center, .p-1, .aspect-ratio-1x1, .border-solid, .txt-center, .all-border-full;
            }
        }
    }
}