$primary-color: #C7A151;
$on-primary-color: #FFFFFF;
$primary-light-color: #F8F8FF;
$primary-dark-color: #FFFFFF;
$secondary-color: #262626;
$on-secondary-color: #BBBBBB;
$secondary-light-color: #FFFFFF;
$secondary-dark-color: #FFFFFF;
$specific-color: #FFFFFF;
$button-text-color: #C7A151;
$button-color: #00000000;
$text-color: #BBBBBB;
$title-text-color: #C7A151;
$secondary-text-color: #FFFFFF;
$section-title-text-color: #CECECE;
$border-color: #C7A151;
$divider-color: #ffffff;
$shadow-color: #ffffff;
$icon-color: #C7A151;
$icon-hover-color: #C7A151;
$menu-color: #1F1D1D;
$card-color: #120F10;
$background-color: #262626;
$section-color: #262626;
$hover-color: #FFFFFF;
$button-hover-color: #C7A453;
$text-hover-color: #C7A453;
$button-text-hover-color: #C5B395;
$discount-price-color: #FFFFFF;
$gradient-color: #FFFFFF;
$fields-color: #FFFFFF;
$border-fields-color: #FFFFFF;
$title-text-fields-color: #FFFFFF;
$text-fields-color: #FFFFFF;
$black-color: #000000;
$white-color: #FFFFFF;
$danger-regular-color: #D70D0D;
$disabled-regular-color: #3761EB;
$warning-regular-color: #FFB800;
$warning-light-color: #FDD368;
$warning-dark-color: #E4A400;
$success-regular-color: #02B74A;
$success-light-color: #C0FCD8;
$success-dark-color: #009C3F;
$danger-dark-color: #D70D0D;
$danger-light-color: #F8D0D0;
$disabled-light-color: #B1B1B1;
$disabled-dark-color: #B1B1B1;
$information-regular-color: #3761EB;
$information-light-color: #7393FF;
$information-dark-color: #2145BC;
$color-border-secondary-color: #B1B1B1;
$unCommon-color: #FFFFFF;