.section{
    width: 100%;
    padding-top:7.5rem;
    padding-bottom:7.5rem;
    box-sizing: border-box;
}
.container{

    box-sizing: border-box;
}
.block{

    box-sizing: border-box;
}
.div{
    display:flex;
    box-sizing: border-box;
}