$font-prefix : "txt";
$font-size:(small : 12px,subtitle : 14px,normal : 16px, title : 20px, mid-title : 24px, high-title : 28px, extra-title : 32px, );

$fonts: (
  "primary": (
    "name": "Vazir",
    "folder": "vazir",
    "font-types": (
      "black": (
        "Vazir-Black-FD.woff2",
        "Vazir-Black-FD.woff",
        "Vazir-Black-FD.ttf",
        "Vazir-Black-FD.eot"
      ),
      "bold": (
        "Vazir-Bold-FD.woff2",
        "Vazir-Bold-FD.woff",
        "Vazir-Bold-FD.ttf",
        "Vazir-Bold-FD.eot"
      ),
      "light": (
        "Vazir-Light-FD.woff2",
        "Vazir-Light-FD.woff",
        "Vazir-Light-FD.ttf",
        "Vazir-Light-FD.eot"
      ),
      "medium": (
        "Vazir-Medium-FD.woff2",
        "Vazir-Medium-FD.woff",
        "Vazir-Medium-FD.ttf",
        "Vazir-Medium-FD.eot"
      ),
      "regular": (
        "Vazir-Regular-FD.woff2",
        "Vazir-Regular-FD.woff",
        "Vazir-Regular-FD.ttf",
        "Vazir-Regular-FD.eot"
      ),
      "thin": (
        "Vazir-Thin-FD.woff2",
        "Vazir-Thin-FD.woff",
        "Vazir-Bold-FD.ttf",
        "Vazir-Thin-FD.eot"
      )
    )
  )
);

