$font-prefix : "txt";
$font-size:(small : 10px,subtitle : 12px,normal : 16px, title : 20px, mid-title : 24px, high-title : 32px, big-title : 48px, extra-title : 72px, );
$fonts: (
  "primary": (
    "defaults":"",
    "folder": "story-lens",
    "font-types": (
      // "black": (
      //   "Roboto-Black.woff2",
      //   "Roboto-Black.woff",
      //   "Roboto-Black.ttf",
      //   "Roboto-Black.eot"
      // ),
      // "bold": (
      //   "Roboto-Bold.woff2",
      //   "Roboto-Bold.woff",
      //   "Roboto-Bold.ttf",
      //   "Roboto-Bold.eot"
      // ),
      // "light": (
      //   "Roboto-Light.woff2",
      //   "Roboto-Light.woff",
      //   "Roboto-Light.ttf",
      //   "Roboto-Light.eot"
      // ),
      // "medium": (
      //   "Roboto-Medium.woff2",
      //   "Roboto-Medium.woff",
      //   "Roboto-Medium.ttf",
      //   "Roboto-Medium.eot"
      // ),
      // "regular": (
      //   "Roboto-Regular.woff2",
      //   "Roboto-Regular.woff",
      //   "Roboto-Regular.ttf",
      //   "Roboto-Regular.eot"
      // ),
      // "thin": (
      //   "Roboto-Thin.woff2",
      //   "Roboto-Thin.woff",
      //   "Roboto-Thin.ttf",
      //   "Roboto-Thin.eot"
      // )
      "bold": (
        "Story-Lens.woff2"
      )
    )
  ),
  "none": (
    "defaults":"sans-serif, 'Courier New', Courier, monospace",
    "folder": "hh",
    "font-types": (
      // "black": (
      //   "Roboto-Black.woff2",
      //   "Roboto-Black.woff",
      //   "Roboto-Black.ttf",
      //   "Roboto-Black.eot"
      // ),
      // "bold": (
      //   "Roboto-Bold.woff2",
      //   "Roboto-Bold.woff",
      //   "Roboto-Bold.ttf",
      //   "Roboto-Bold.eot"
      // ),
      // "light": (
      //   "Roboto-Light.woff2",
      //   "Roboto-Light.woff",
      //   "Roboto-Light.ttf",
      //   "Roboto-Light.eot"
      // ),
      // "medium": (
      //   "Roboto-Medium.woff2",
      //   "Roboto-Medium.woff",
      //   "Roboto-Medium.ttf",
      //   "Roboto-Medium.eot"
      // ),
      // "regular": (
      //   "Roboto-Regular.woff2",
      //   "Roboto-Regular.woff",
      //   "Roboto-Regular.ttf",
      //   "Roboto-Regular.eot"
      // ),
      // "thin": (
      //   "Roboto-Thin.woff2",
      //   "Roboto-Thin.woff",
      //   "Roboto-Thin.ttf",
      //   "Roboto-Thin.eot"
      // )
      "black": (
        "Story-Le.woff"
      )
    )
  )
);


.italic{
  font-style: italic;
}
.#{$font-prefix}-center{
  text-align: center;
}
.#{$font-prefix}-left{
  text-align: left;
}
.#{$font-prefix}-start{
  text-align: start;
}