<html>
    <head>
        <link rel="stylesheet" href="../../../../../assets/css/style.css">
    </head>
    <body class="font-primary d-flex flex-column justify-content-center align-items-center gap-4 w-100 h-100">
        <div class="tab">
            <ul class="tab-bar">
                <!-- <li class="tab-item">
                    <input type="radio" name="r1" id="tabCheck1" checked>
                    <label for="tabCheck1">tab1</label>
                </li>
                -->
                <li class="tab-item"><input type="radio" name="r1" id="tabCheck1" checked><label for="tabCheck1">tab1</label></li>
                <li class="tab-item"><input type="radio" name="r1" id="tabCheck2"><label for="tabCheck2">tab2</label></li>
                <li class="tab-item"><input type="radio" name="r1" id="tabCheck3"><label for="tabCheck3">tab3</label></li>
                <li class="tab-item"><input type="radio" name="r1" id="tabCheck4"><label for="tabCheck4">tab4</label></li>
                <li class="tab-item"><input type="radio" name="r1" id="tabCheck5"><label for="tabCheck5">tab5</label></li>
                <!-- <li class="tab-item"><input type="radio" name="r1" id="tabCheck6"><label for="tabCheck6">tab6</label></li>
                <li class="tab-item"><input type="radio" name="r1" id="tabCheck7"><label for="tabCheck7">tab7</label></li>
                <li class="tab-item"><input type="radio" name="r1" id="tabCheck8"><label for="tabCheck8">tab8</label></li>
                <li class="tab-item"><input type="radio" name="r1" id="tabCheck9"><label for="tabCheck9">tab9</label></li>
                <li class="tab-item"><input type="radio" name="r1" id="tabCheck10"><label for="tabCheck10">tab10</label></li> -->
            </ul>
            <div class="tab-page">
                <div class="tab-page-1">
                    <p>1</p>
                </div>
                <div class="tab-page-2">
                    <p>2</p>
                </div>
                <div class="tab-page-3">
                    <p>3</p>
                </div>
                <div class="tab-page-4">
                    <p>4</p>
                </div>
                <div class="tab-page-5">
                    <p>5</p>
                </div>
                <!-- <div class="tab-page-6">
                    <p>6</p>
                </div>
                <div class="tab-page-7">
                    <p>7</p>
                </div>
                <div class="tab-page-8">
                    <p>8</p>
                </div>
                <div class="tab-page-9">
                    <p>9</p>
                </div>
                <div class="tab-page-10">
                    <p>10</p>
                </div> -->
            </div>
        </div>
    </body>
</html>